<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
                <p class="lead">MoiveSharing</p>
                <div class="list-group">
                    <li class="list-group-item active">Basic Information</li>
                    <li class="list-group-item">Coming Soon...</li>
                    <li class="list-group-item">Coming Soon...</li>
                </div>
                <div id="LeftGoBackBtn">
                    <a class="btn btn-primary" href="/moviegrounds">Go Back!</a>    
                </div>
                
                <div id="facebookBtn">
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https://test-xiyanhu927.c9users.io/moviegrounds/<%= movieground._id %>&layout=button_count&size=small&mobile_iframe=true&width=87&height=20&appId" width="87" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    <iframe allowtransparency="true" frameborder="0" scrolling="no"
                    src="https://platform.twitter.com/widgets/tweet_button.html?size=medium"
                    style="width:87px; height:20px;"></iframe>
                </div>
        </div> 
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= movieground.image %>" > 
                <div class="caption-full">
                    <!--<h4 class="pull-right">$9.00/ticket</h4>-->
                    <h4><a><%= movieground.name %></a></h4>
                    <p><%= movieground.description %></p>
                    <p>
                        <em>Created By <%= movieground.author.username %></em>
                    </p>
                    <% if(currentUser && movieground.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-xs btn-warning" href="/moviegrounds/<%= movieground._id %>/edit">Edit</a>
                    <form id ="deleteForm" action="/moviegrounds/<%= movieground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/moviegrounds/<%= movieground._id %>/comments/new"> Add New Comment</a>    
                </div>
                <hr>
                <% movieground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <!--<span class="pull-right">10 days ago</span>-->
                            <span class="pull-right"><%= datediff(comment.date) %> days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/moviegrounds/<%= movieground._id %>/comments/<%=comment._id%>/edit">Edit</a>
                                <form id ="deleteForm" action="/moviegrounds/<%= movieground._id %>/comments/<%=comment._id%>/?_method=DELETE" method="POST">
                                    <input type ="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                      
                <% }); %>
                                
                
                
            </div>
        </div>
    </div>
    
</div>


<% include ../partials/footer %>